@model ClientManagement.Helpers.ViewModels.TenantVM<Guid>
@{
    var action = ViewData["Action"] != null ? ViewData["Action"].ToString() : "Create";
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="validation-invalid-label"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <partial name="~/Views/Shared/Select2/_Client.cshtml" for="Client" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Host" class="control-label form-label"></label>
            <input asp-for="Host" class="form-control" />
            <span asp-validation-for="Host" class="validation-invalid-label"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Folder" class="control-label form-label"></label>
            <input asp-for="Folder" class="form-control" />
            <span asp-validation-for="Folder" class="validation-invalid-label"></span>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label form-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="validation-invalid-label"></span>
        </div>
    </div>


</div>
<input type="hidden" asp-for="TenantId" />
