@using ClientManagement.Helpers.ViewModels.CRUD
@model CrudListViewModel<Guid>

<div class="card-header header-elements-inline" style="padding:0px;">
    <div class="row col-12 p-0 m-0">
        <div class="selected-filters-container col-10 mt-2 p-0"></div>
        <div class="row col-2 p-0  m-0">
            <div class="col-12">
                @if (Model.DisableSearch == false && Model.HideSearchFiltersButton == false)
                {
                    <button type="button" id="search-filters" class="btn-circle mb-2 float-right" data-toggle="tooltip" title="Search"><i class="icon-filter3 icon-1x"></i></button>
                }
                @if (Model.HideCreateButton == false)
                {
                    <button class="btn-circle mb-1 float-right"><i class="icon-plus-circle2 icon-1x" data-toggle="tooltip" title="Create" onclick="location.href='@Url.Action("Create", Model.ControllerName)'"></i></button>
                }
            </div>
        </div>
    </div>
</div>
@*}*@
